.container {
  max-width: 1650px;
  padding-left: 135px;
  padding-right: 135px;
}
.section {
  padding-bottom: 100px;
}
.header-social-list {
  display: none;
}
.header-menubtn {
  display: none;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  padding-right: 50px;
}
.header-nav {
  display: flex;
  align-items: baseline;
}
.header-logo-svg {
  width: 274px;
  height: 49px;
}
.header-logo {
}
.link {
}
.header-logo-svg {
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav-item {
}
.nav-link {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 107.4%;
  /* or 17px */

  text-transform: uppercase;

  /* dark */

  color: var(--main-text-color);
}
.nav-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 17px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: black;
  transition: 0.5s;
}
.nav-link:hover::before,
.nav-link:focus::before {
  width: 100%;
}
.header-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  /* white */

  color: var(--white-details);
  background-color: var(--main-text-color);
  border: 1px solid;
  padding: 17px 20px;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.header-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0%;
  background: var(--white-details);
  z-index: -1;
  transition: 0.5s;
}
.header-btn:hover:before,
.header-btn:focus:before {
  height: 100%;
}
.header-btn:hover,
.header-btn:focus {
  color: var(--main-text-color);
}
.hero-compose {
  display: flex;
  gap: 207px;
}
.hero-img {
  width: 500px;
  height: 500px;
}
.hero-text-wrap {
  max-width: 530px;
}
.hero-title {
  font-size: 80px;
}
.hero-text {
  font-size: 24px;
}
.hero-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: none;
  width: auto;
  height: 100%;
  padding: 17px 30px;
  z-index: 1;
  overflow: hidden;
  border: 1px solid;
  transition: 0.5s;
}
.hero-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--white-details);
  z-index: -1;
  transition: 0.5s;
}
.hero-btn:hover:before,
.hero-btn:focus:before {
  width: 100%;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--main-text-color);
}
.hero-fixedsvg {
  bottom: 0px;
}
.hero-item-title {
  font-size: 14px;
}
.hero-link {
  font-size: 16px;
}
.advantage {
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
  padding-bottom: 200px;
  padding-right: 500px;
}
.advantage-wraper {
  position: relative;
  width: 700px;
  margin: 0;
}
.advange-title {
  font-size: 48px;
}
.advantage-text {
  font-size: 18px;
}
.advantage-swiper {
  position: absolute;
  left: -75%;
  top: -40%;
}
.slider-title {
  font-size: 48px;
}
.delivery-title-wrap {
  max-width: 513px;
  margin-bottom: 48px;
}
.delivery-title {
  font-size: 48px;
}
.delivery-item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
}
.delivery-img {
  width: 1408px;
  height: 500px;
  margin-bottom: 50px;
}
.delivery-list {
  flex-direction: row;
  gap: 136px;
}
.delivery-item {
  max-width: 645px;
}
.footer-nav {
  display: flex;
  gap: 139px;
}
.footer-nav-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid var(--main-text-color);
}
.footer-nav-list {
  flex-direction: row;
  gap: 60px;
  padding: 0px;
  align-self: center;
}
.footer-logo-svg {
  width: 218px;
  height: 39px;
}
.footer-nav-link {
  position: relative;
  z-index: 1;
}
.footer-nav-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 17px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: black;
  transition: 0.5s;
}
.footer-nav-link:hover::before,
.footer-nav-link:focus::before {
  width: 100%;
}
.footer-address-list {
  flex-direction: row;
  border: 0px;
  justify-content: center;
}
.footer-address-list {
  border: none;
  gap: 65px;
}
.footer-list-end {
  flex-direction: row;
  justify-content: space-between;
}
.footer-address-link {
  position: relative;
  z-index: 1;
}
.footer-address-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 17px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: black;
  transition: 0.5s;
}
.footer-address-link:hover::before,
.footer-address-link:focus::before {
  width: 100%;
}
.footer-polite {
  font-size: 14px;
  line-height: 14px;
}
.footer-copy {
  font-size: 14px;
  line-height: 14px;
}
